<html>
  <head>
    <link rel="stylesheet" href="./css/styles.css" />
    <title>About</title>
  </head>
  <body>
    <div class="main_content">
    {{>header}}
    <p>This site was created by Pradeep. This uses data from mapbox.com and weatherstack.com.</p>
    <img class="potrait" src="./img/student-gc020048e2_640.jpg" alt="" />

    </div>
    {{>footer}}
  </body>
</html>